<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeAkd60c1zVobo04BpM-csg5zCVXObKC4</string>
	<key>GCM_SENDER_ID</key>
	<string>329925649814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mohab</string>
	<key>PROJECT_ID</key>
	<string>mohab-aa238</string>
	<key>STORAGE_BUCKET</key>
	<string>mohab-aa238.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329925649814:ios:f8e071cc3fcdbe9e0b69b7</string>
</dict>
</plist>